@page "/"
@using LuhisBanking.Dtos
@using TrueLayerAccess.Dtos
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<a href="@(AuthLink)">Add account</a>

@if (Accounts != null)
{
    <ul>
        @foreach (var acc in Accounts)
        {
            <li>account @acc.Name @acc.Balance</li>
        }

    </ul>
}
else
{
    <span>Loading...</span>
}

@if (Logins != null)
{
    <ul>
        @foreach (var acc in Logins)
        {
            <li>account @acc.Id @acc.DisplayName</li>
        }

    </ul>
}
else
{
    <span>Loading...</span>
}

@functions
{
    AccountDto[] Accounts;
    LoginDto[] Logins;
    string AuthLink;

    protected override async Task OnInitAsync()
    {
        await LuhisBanking.Client.FunctionWrappers.SquashExceptions(async () =>
        {
            AuthLink = await (await Http.GetAsync("api/CallBack/GetAuthLink")).Content.ReadAsStringAsync();
        });

        await LuhisBanking.Client.FunctionWrappers.SquashExceptions(async () =>
        {
            Accounts = (await Http.GetJsonAsync<AccountDto[]>("api/Accounts/GetAll"));
        });

        await LuhisBanking.Client.FunctionWrappers.SquashExceptions(async () =>
        {
            Logins = (await Http.GetJsonAsync<LoginDto[]>("api/Connections/GetAll"));
        });
    }

}
